<div class="p-d-flex p-flex-wrap" style="margin-bottom: 3rem;">
  <div class="p-md-7">
    <div class="p-card">
      <p-table #dt [columns]="cols" [value]="users" [paginator]="true" [rows]="20"
               [rowsPerPageOptions]="[20,30]" [scrollable]="true" scrollHeight="65.2vh"
                [rowHover]="true"
               [globalFilterFields]="['name','firstname']"
               >
        <ng-template pTemplate="caption">
          <div class="p-d-flex">
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Chercher par nom ou prénom" />
                </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th pResizableColumn *ngFor="let col of columns" style="background: #87AAB9">
              {{col.header}}
            </th>
            <th style="background: #87AAB9" pResizableColumn></th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-user let-i="rowIndex">
          <tr (click)="editUser(user)">
            <td>
              {{user.firstname}}
            </td>
            <td>
              {{user.name}}
            </td>
            <td>
              {{user.wallet}}
            </td>
            <td>
              <p-inputSwitch (onChange)="changeStatus(user)" [ngModel]="user.status == 0"></p-inputSwitch>
              {{user.status == 0 ? 'activé': user.status == 1 ? 'désactivé': 'supprimé'}}
            </td>
            <td>
              <button pButton pRipple icon="pi pi-trash" (click)="onDelete(user.id)" ck class="p-button-rounded p-button-warning"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div class="p-col">
    <div class="p-card" >
      <app-update-client [user]="user"></app-update-client>
    </div>
  </div>
</div>
