<div class="content-section implementation">
  <div class="card">
      <p-menubar [model]="items">
          <ng-template pTemplate="start" >
            <a [routerLink]="[ '/home' ]" style="margin-right: 20px;"> <img src="assets/logo.jpg"  height="40" class="p-mr-2"></a>
            <!-- <div *ngIf="authenticationService.authenticated" class="p-m-2" style="margin-right: 20px;">
              <p class="clickable" (click)="userService.show()"  style="font-size: 1.3rem; color: white; float:right;"></p>
            </div> -->

          </ng-template>

          <ng-template pTemplate="end">
            <div class="p-d-flex p-p-3" style="display: flex;">
              <div *ngIf="!authenticationService.authenticated" class="p-m-2" style="margin-right: 20px;">
                <i class="fa fa-user clickable" (click)="onLogin()" style="font-size: 1.3rem;"></i>
              </div>
              <div *ngIf="authenticationService.authenticated" class="p-m-2" style="margin-right: 20px;">
                <div style="color: blanchedalmond;">
                  <i class="p-mr-3"> Bonjour {{authenticationService.user.firstname}} {{authenticationService.user.name}}</i> <br>
                  <i class="p-mr-3"> Ma cagnotte:  {{authenticationService.user.wallet}} €</i>
                  <i class="fa fa-sign-in clickable" (click)="logout()"  style="font-size: 1.3rem;"></i>
                </div>
              </div>
            </div>
          </ng-template>
      </p-menubar>
  </div>
</div>


<p-dialog #cd [(visible)]="authenticationService.display" [modal]="true" [draggable]="true"
          [closable]="false" [draggable]="true"
          [showHeader]="false"
          [responsive]="true"
          [style]="{ minWidth: '100vh', height:'100vh', border: 'none', overflow: 'hidden', paddingTop: '1rem'}"
           [baseZIndex]="10000">
  <app-login style =""></app-login>
</p-dialog>
<!-- TODO CORRIGER ERREUR -->
<p-dialog #cd [(visible)]="userService.display" [modal]="true" [draggable]="true"
          [closable]="false" [draggable]="true"
          [showHeader]="false"
          [responsive]="true"
          [style]="{ minWidth: '100vh', height:'100vh', border: 'none', overflow: 'hidden', paddingTop: '1rem'}"
           [baseZIndex]="10000">
  <app-user-account style =""></app-user-account>
</p-dialog>
