<div class="p-grid">
  <div class="p-col-7">t
    <!-- <p-orderList [value]="listeCommandesDayS" [listStyle]="{'height':'auto'}" header="Commandes" filterBy="name"
      filterPlaceholder="Filter by name" dragdrop="true">
      <ng-template let-commande pTemplate="item">
        <div class="commande-item">
          <div class="commande-list-detail">
              <h5 class="p-mb-2">{{commande.user.name}}</h5>
              <i class="pi pi-tag commande-category-icon"></i>
              <span class="commande-category">{{commande.creationDate}}</span>
          </div>
          <div class="commande-list-action">
              <h6 class="p-mb-2">${{commande.creationTime}}</h6>
              <span [class]="'commande-badge status-' + commande.inventoryStatus.toLowerCase()">{{commande.inventoryStatus}}</span>
          </div>
      </div>
      </ng-template>
    </p-orderList> -->


    <p-table #dt [value]="listeCommandesDays" [globalFilterFields]="['user.name']">
      <ng-template pTemplate="caption">
        <div class="table-header">
          Commandes
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Global Search" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
          <th>Nom</th>
          <th>Quantité</th>
          <th>details</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-listeCommandesDay let-i="rowIndex">
        <tr>
          <td>{{listeCommandesDay.creationDate}}</td>
          <td>{{listeCommandesDay.user.name}}</td>
          <td>{{listeCommandesDay.quantity != null?listeCommandesDay.quantity.length : ""}}</td>
          <td>
            <p-button (click)="showDetails(i)" label="détails">

            </p-button>
          </td>
          <td style="width: 0; padding: 0 0 0 2rem">
            <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-times"
              class="p-button-rounded p-button-danger"></button>
          </td>

        </tr>
        <div *ngIf="detailVisible === i">
          <ul>
            <li *ngFor="let plat of listeCommandesDays[i].quantity; let j = index" style="min-width: 20rem;">
              <p>{{plat.meal.label}} prix: {{plat.meal.priceDF}}</p>
            </li>
          </ul>
        </div>
      </ng-template>
    </p-table>

  </div>
  <div class="p-col-4">t</div>
</div>

  <div class="p-col-5"> <h1>Détail des commandes :</h1><p-button (click)="createOrderRecap()" label="Afficher"></p-button>
    <ul>
    <li *ngFor="let meal of listRecap; let k= index" style="min-width: 20rem;">
      <p>{{meal.label}}, quantité: {{meal.qty}}</p>
    </li>
  </ul>
  <p-listbox [options]="listRecap" [(ngModel)]="selectedListRecap" [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true" optionLabel="name" [listStyle]="{'max-height':'250px'}" [style]="{'width':'15rem'}">
    <ng-template let-recap pTemplate="item">
        <div class="recap-item">
            <div>{{recap.label}} t</div>
        </div>
    </ng-template>
  </p-listbox>
</div>

