<div class="p-d-flex mr-t p-flex-wrap p-flex-column p-flex-md-row">
  <!-- liste des commandes pour chaque utilisateur -->
  <div class="p-col-12 p-md-12 p-lg-6">
    <p-table #dt [value]="listeCommandesDays" [scrollable]="true" scrollHeight="58vh" [style]="{'width':'96%', margin:'auto'}"
      [globalFilterFields]="['user.name','user.firstname']">
      <ng-template pTemplate="caption">
        <div class="table-header">
          Commandes au {{ todayDate }} :
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Utilisateur" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn style="width:5rem; text-align: center;">Nom</th>
          <th pResizableColumn style="width:5rem; text-align: center;">Quantité</th>
          <th pResizableColumn style="width:5rem; text-align: center;">Voir/Supp</th>
        </tr>
      </ng-template>
      <ng-template style="width: 100%;;" pTemplate="body" let-listeCommandesDay let-i="rowIndex">
        <tr>
          <td style="text-align: center; font-weight: bold; font-size: 1.1rem;">{{listeCommandesDay.user.firstname}}
            {{listeCommandesDay.user.name}}</td>
          <td style="font-weight: bold; text-align: center; font-size: 1.5rem;">{{listeCommandesDay.quantity !=
            null?listeCommandesDay.quantity.length : ""}}</td>
          <td style="text-align: center;">
            <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-search-plus"
              pTooltip="Détails de la commande" (click)="showDetails(i)"
              style="margin: 0 0.5rem 0 -0.4rem; background-color:#17a2b8;" class="p-button-rounded"></button>
            <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-times" style="margin-left: 0.2rem;"
              pTooltip="Annuler la commande" (click)="doDelete(i)" class="p-button-rounded p-button-warning"></button>
          </td>
        </tr>
        <td colspan="3" *ngIf="deleteIdx === i">
          <h2>Voulez vous vraiment supprimer la commande de <span
              style="color: #17a2b8;">{{listeCommandesDay.user.firstname}} {{listeCommandesDay.user.name}}</span>? <br>
          </h2>
          <button pButton pRipple type="button" label="oui" class="p-button-danger" style="margin-right: 0.5rem;"
            (click)="confirmDelete(i)"></button>
          <button pButton pRipple type="button" label="non" class="p-button-outlined" style="color:#17a2b8;"
            (click)="deleteIdx=undefined"></button>
        </td>
        <td colspan="3" *ngIf="detailVisible === i">
          <ul>
            <li>
              Commande:
              <ul>
                <li>
                  <p *ngFor="let plat of listeCommandesDays[i].quantity; let j = index">{{plat.meal.label}} prix:
                    {{plat.meal.priceDF}} </p>
                </li>
              </ul>
            </li>
            <br>
            <li>
              Contact:
              <ul>
                <li>
                  <p *ngIf="listeCommandesDay.user.phone != null">Tel: {{listeCommandesDay.user.phone}}</p>
                  <p *ngIf="listeCommandesDay.user.email != null">Mail: {{listeCommandesDay.user.email}}</p>
                </li>
              </ul>
            </li>
          </ul>
        </td>
      </ng-template>
    </p-table>
  </div>
  <!-- recapitulatif des plats avec les quantités -->
  <div class="p-col-12 p-md-12 p-lg-6">
    <p-listbox [options]="listRecaps" [(ngModel)]="selectedListRecap" [filter]="true" [multiple]="true"
      [readonly]="true" [listStyle]="{'max-height':'60.2vh'}" [style]="{'width':'96%', margin:'0 auto 2rem auto'}">
      <p-header [style]="{fontSize:'1.3rem'}">
        Détail des commandes :
      </p-header>
      <ng-template pTemplate="caption">
      </ng-template>
      <ng-template let-listRecap pTemplate="item">
        <div style="margin-left: 1rem ; font-size: 1.1rem;" class="listRecap-item">
          <span style="color: #17a2b8;">Plat: </span> <span
            style="font-weight:bold ; margin-left: 1rem; ">{{listRecap.qty}}</span> <span
            style=" margin-left: 1rem; color: #17a2b8; "> {{ listRecap.label }}</span>

          <!-- <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-search-plus" (click)="test()"
              style="margin-right: 0.5rem;" class="p-button-rounded p-button-primary"></button> -->
          <!-- <span style="margin-left: 2rem;"></span> -->

        </div>
      </ng-template>
    </p-listbox>
  </div>
</div>