<div class="p-grid mr-t">
  <div class="p-col-6">
    <!-- <p-orderList [value]="listeCommandesDayS" [listStyle]="{'height':'auto'}" header="Commandes" filterBy="name"
      filterPlaceholder="Filter by name" dragdrop="true">
      <ng-template let-commande pTemplate="item">
        <div class="commande-item">
          <div class="commande-list-detail">
              <h5 class="p-mb-2">{{commande.user.name}}</h5>
              <i class="pi pi-tag commande-category-icon"></i>
              <span class="commande-category">{{commande.creationDate}}</span>
          </div>
          <div class="commande-list-action">
              <h6 class="p-mb-2">${{commande.creationTime}}</h6>
              <span [class]="'commande-badge status-' + commande.inventoryStatus.toLowerCase()">{{commande.inventoryStatus}}</span>
          </div>
      </div>
      </ng-template>
    </p-orderList> -->


    <p-table #dt [value]="listeCommandesDays" [scrollable]="true" scrollHeight="58vh"
      [globalFilterFields]="['user.name']">
      <ng-template pTemplate="caption">
        <div class="table-header">
          Commandes au {{todayDate}} : 
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
              placeholder="Utilisateur" />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn style="width:5rem">Nom</th>
          <!-- <th pResizableColumn style="width:5rem">Date</th> -->
          <th pResizableColumn style="width:5rem">Quantité</th>
          <!-- <th pResizableColumn style="width:5rem">details</th> -->
          <th pResizableColumn style="width:5rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-listeCommandesDay let-i="rowIndex">
        <tr>
          <td>{{listeCommandesDay.user.firstname}} {{listeCommandesDay.user.name}}</td>
          <!-- <td>{{listeCommandesDay.creationDate}}</td> -->
          <td style="font-weight: bold;">{{listeCommandesDay.quantity != null?listeCommandesDay.quantity.length : ""}}</td>
          <!-- <td> {{listeCommandesDay.user.name}}</td> -->
          <td>
            <!-- <button pButton class="p-button-rounded p-button-primary" styleClass="p-button-sm" (click)="showDetails(i)" icon=" pi pi-search-plus" ></button> -->

            <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-search-plus"
              (click)="showDetails(i)" style="margin-right: 0.5rem;" class="p-button-rounded p-button-primary"></button>
            <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-times" (click)="doDelete(i)"
              class="p-button-rounded p-button-danger"></button>
          </td>

        </tr>
        <div *ngIf="deleteIdx === i">
          <h2 style="min-width: 40rem;" >voulez vous vraiment supprimer la commande de <span style="color: grey;">{{listeCommandesDay.user.firstname}} {{listeCommandesDay.user.name}}</span>? <br>
            <button pButton pRipple type="button" label="oui" class="p-button-danger" style="margin-right: 0.5rem;" ></button>
            <button pButton pRipple type="button" label="non" (click)="deleteIdx=undefined" ></button>
          </h2>
        </div >
        <div *ngIf="detailVisible === i">
          <ul>
            <li *ngFor="let plat of listeCommandesDays[i].quantity; let j = index" style="min-width: 20rem;">
              <p>{{plat.meal.label}} prix: {{plat.meal.priceDF}}</p>
            </li>
          </ul>
        </div>
      </ng-template>
    </p-table>

  </div>
  <div class="p-col-6">
    <p-listbox [options]="listRecaps" [(ngModel)]="selectedListRecap" [filter]="true" [multiple]="true" [readonly] ="true"
      [listStyle]="{'max-height':'60.2vh'}" [style]="{'width':'90%', margin:'auto'}">
      <p-header [style]="{fontSize:'1.3rem'}">
        Détail des commandes :
      </p-header>
      <ng-template pTemplate="caption">
        <div class="table-header">
          Commandes
        </div>
      </ng-template>
      <ng-template let-listRecap pTemplate="item">
        <div class="listRecap-item">
          <div style="font-size: 1.1rem">Plat: {{ listRecap.label }} quantité: <span
              style="font-weight: bold;">{{listRecap.qty}} </span>
               <button pButton pRipple type="button" styleClass="p-button-sm" icon="pi pi-search-plus"
              (click)="test()" style="margin-right: 0.5rem;" class="p-button-rounded p-button-primary"></button>
            </div>
        </div>
      </ng-template>
    </p-listbox>
  </div>
</div>

<div class="p-col-5">


</div>