.danger {
  color: #ef4430;
}

.login-form {
  background: url('src/assets/login_bg.jpg') no-repeat center center;
  background-size: cover;
  margin-bottom: 3rem !important;
}
#login {
 /* background: url('src/assets/login_bg.jpg') no-repeat center center; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 80vh;
  max-width: 60vh;
  margin: auto;
  margin-top: 2rem;
}

.login-form {
  /*
  background-image: url('src/assets/login_bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
   */
}
.login-form {
  background-color: rgba(0, 0, 0, .7);
  margin: auto;
  min-width: 300px !important;
  height: 80vh;
  min-height: 608px;
  color: #ffffff;
}
.login-form .p-col-12:nth-child(1) {
  padding-top: 3rem;
  height: 10% !important;

}

.login-form .p-col-12.p-d-flex.p-jc-center {

}
.login-form  .login.p-col-12{
  height: 80% !important;
}


.login-form  .signup.p-col-12 {
  height: 80% !important;
  width: 100% !important;
}
.login-form  .signup.p-col-12 form {
  height: 100%;
  width: 100%;
}
.login-form .p-grid {
  width: 95% !important;
  margin: auto !important;


}

.p-fluid .p-field {

}

.login-form .p-inputtext {
  background: none;
  color: white;
  border: 1px solid #ef4430;
}
.login-form .p-inputtext:focus, input:focus{

  outline: none !important;
}

.btn{
  background: #ef4430 !important;
  color: white;
}
label {
  color: #ffffff !important;
}
.connexion {
  border-bottom: 2px solid #ef4430;
  padding-bottom: 5px;
}
.mr-top {
  margin-top: 30px;
}
.p-col-12.mr-top.login.ng-star-inserted {
  margin-top: 60px;
  width: 90%;
  margin: auto;
}

.p-col-12.mr-top.login.ng-star-inserted .p-field {
  margin-top: 40px;
}
