
<div class="container" id="login">

<div class="login-form">

  <div class="p-grid">

    <div style="" class="p-col-12 p-d-flex p-jc-center">
      <div class="box p-mr-5"><h4 (click)="connectionNavigate('signin')" style="font-size: 24px;cursor: pointer" [ngClass]="login? 'connexion': ''">CONNEXTION</h4></div>
      <div class="box"><h4 (click)="connectionNavigate('signup')" style="font-size: 24px; cursor: pointer" [ngClass]="login? '': 'connexion'">INSCRIPTION</h4></div>
    </div>


    <div class="p-col-12">
      <div *ngIf="message" class="danger"><p>{{message}}</p></div>
      <form [formGroup]="userForm" (ngSubmit)="onLogin()">
      <div class="p-fluid">
        <div class="p-field">
          <label>EMAIL</label>
          <input required minlength="4" style="border-radius: 50px; outline-color: #ef4430 !important"  formControlName="email" type="text" pInputText ngModel>
        </div>

        <div class="p-field">
          <label>MOT DE PASSE</label>
          <input required minlength="4" style="border-radius: 50px; outline-color: #ef4430 !important"  formControlName="password" type="text" pInputText ngModel>
        </div>
        <div ><a style="color: #41f741; cursor: pointer; font-size: 20px; font-weight: bold" (click)="forgetPassword()">Mot de passe oublié</a></div>

       <div class="p-d-flex p-jc-center mr-top">
        <div class="p-col-6 p-mr-4">
          <button pButton [disabled]="!userForm.valid" pRipple type="submit" label="Connectez-vous" class="btn p-button-rounded p-button-danger"></button>
        </div>
        <div class="p-col-6">
          <button pButton (click)="onCancel()" pRipple type="button" label="annuler" style="background: #87AAB9" class="p-button-rounded p-button-info"></button>
        </div>
       </div>

      </div>
      </form>
    </div>

  </div>


</div>
</div>
