


<!--<div class="cards">

<div class="card-menu" *ngFor="let menu of menuList">
    <div class="img">
        <img alt="Card" :src="{{menu.img}}">
    </div>
    <div class="content">
        <p><strong>{{menu.label}}</strong></p>
        <p>Déscription : Lorem ipsum dolor sit amet,ibus, officiis Lorem ipsum dolor sit amet,ibus, officiis</p>
       <p>Price: {{menu.priceDF}}</p>
        <p>{{menu.description}}</p>

        <p-button (click)="enableMenuBtn()" styleClass="p-button-danger" label="Commande" ></p-button>
        </div>
</div>-->

<app-digital-clock></app-digital-clock>
<div>
    <h4 class="ligne">
        Menus de la semaine
    </h4>
</div>
<div class ="menus">
<!--<div  class="card-menu" *ngFor="let menu of menuList">-->
<p-card *ngFor="let menu of menuList" header={{menu.label}} [style]="{width: '360px'}">
    <ng-template pTemplate="header">  
     <figure class="menu_photo">
      <img alt="Card" src="{{menu.img}}"> *
      </figure>          
    </ng-template>
    <p>{{menu.priceDF + '€'}}</p>
    <p>Déscription: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <ng-template pTemplate="footer">
        <p-button (click)="enableMenuBtn(menu.id_menu)" styleClass="p-button-danger" label="Commander" ></p-button>
    </ng-template>
</p-card>
</div>


<!--
<p-card header="{{menu.label}}" *ngFor="let menu of menuList" subheader="Price: {{menu.priceDF}}" [style]="{width: '360px'}" styleClass="p-card-shadow">
    <p-header>
        <img alt="Card" :src="{{menu.img}}">
    </p-header>

    <ng-template pTemplate="body">
        <p><b>Déscription : Lorem ipsum dolor sit amet,ibus, officiis Lorem ipsum dolor sit amet,ibus, officiis
        </b>{{menu.description}}</p>
    </ng-template>

    <ng-template pTemplate="footer">
        <p-button (click)="enableMenuBtn()" styleClass="p-button-danger" label="Commande" ></p-button>
    </ng-template>
</p-card>
-->

<!--</div>  -->

<div>
    <h4 class="ligne">
        Plats de la semaine
        &nbsp;
        <a class="btn btn-ghost" href="#">More Plate</a>
    </h4>
</div>
<div class ="meals">
<!--<div  class="card-menu" *ngFor="let menu of menuList">-->
<p-card *ngFor="let meal of mealList" header="{{meal.label}}"  [style]="{width: '360px'}" styleClass="p-card-shadow">
    <ng-template pTemplate="header">
        <figure class="meal_photo">
        <img alt="Card" src="{{meal.img}}">
        </figure>
    </ng-template>
    <p>{{meal.priceDF + '€'}}</p>
    <p>Déscription: Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    <ng-template pTemplate="footer">
        <p-button (click)="enableMenuBtn(meal.id_meal)" styleClass="p-button-danger" label="Commander" ></p-button>
    </ng-template>    
</p-card>
</div>
   


 <!---- <mat-card *ngFor="let meal of mealList" class="card">
        <mat-card-header class="card_header">
            <mat-card-title class="title_header">{{meal.label}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <div *ngIf="meal.description">
                <label><b>Déscription :</b></label>
                <h5>{{meal.description}}</h5>
            </div>
            <div>
                <label><b>Price :</b></label>
                <h5>{{meal.priceDF}}</h5>
            </div>
            <div>

                <img src ={{meal.img}}>
        </div>
            <div>
                <button mat-raised-button color="warn" (click)="enableMealBtn()">Commande</button>
            </div>
        </mat-card-content>
    </mat-card>
   </div>-->
