
<p-card *ngIf="user" header="Mise à jour informations" [style]="{width: '100%', 'min-height': '85vh'}" styleClass="p-card-shadow">
  <p-header>
  </p-header>
  <h4 style="color: #063b52;" *ngIf="user">Nom et prénom: {{ user.name +' '+user.firstname}}</h4>
  <p>Adresse: {{user.address | titlecase}} {{ user.postalCode }} {{ user.town | titlecase }}</p>
    <p>Téléphone: {{user.phone}}</p>
    <p> Email: {{ user.email}}</p>
    <p> Statut: {{ user.status == 0 ? 'activé': user.status == 1 ? 'désactivé': 'supprimé'}}</p>
    <p>Date de création compte: {{ user.email}}</p>
    <p>Crédit: {{ user.wallet +'€'}}</p>
  <ng-template pTemplate="footer">
    <p-button class="p-mr-2" label="Ajouter un crédit" icon="pi pi-shopping-cart" [style]="{'background': 'red','width': '40%'}"></p-button>
    <p-button class="p-mr-2" label="Mise à jour" icon="pi pi-external-link" [style]="{'background': 'red','width': '40%'}"></p-button>
  </ng-template>
</p-card>

<p-card *ngIf="!user" header="Mise à jour informations" [style]="{width: '100%', 'min-height': '85vh'}" styleClass="p-card-shadow">
  <p-header>
  </p-header>
  <h4>Aucun utilisateur choisi! </h4>
  <ng-template pTemplate="footer">
    </ng-template>
</p-card>
