<div class = "p-grid">
  <div class = "p-col-2" style="font-weight:bold;font-size:30px;font-style:italic">
  <div *ngFor ="let category of categories | keyvalue " style="margin: 10px">
    <div>
      <p style="width: 120px"><a  [ngClass]="currentCategory == category.key ? 'active': ''" style="color: #2d2d2d; font-size: 30px;cursor: pointer" (click)="searchByCategory(category.key)"> {{category.value}}</a></p>
    </div>
  </div>
  </div>
  <div class="p-col-10">
  <div class="p-col">
  </div>
  <div *ngIf = "meals" class="myclass p-d-flex p-flex-row p-flex-wrap p-jc-start">
    <p-card *ngFor="let meal of meals; let i = index" header="{{meal.label}}" [style]="{width: '220px'}" styleClass="p-card-shadow p-m-2">
        <p-header>
        <img alt="Card" src="{{meal.img64}}" style="border-top-left-radius: 4px;border-top-right-radius: 4px; height: 220px !important">
      </p-header>
      <p>Déscription: {{meal.description ? meal.description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.'}}</p>
      <h4>Prix: <strong style="font-size: 1.4rem">{{meal.priceDF + '€'}}</strong></h4>
      <ng-template pTemplate="footer">
 <!---- <p-button label="Commander" icon="pi pi-shopping-cart" [style]="{'background': 'red','width': '100%'}"></p-button>-->
      </ng-template>
    </p-card>
  </div>
    <nav style="display: block;margin-bottom:40px;text-align:center;padding-bottom: 20px">
     <u class="pagination p-col" style="text-decoration: none;font-size:40px">
       <li class="page-item">
         <a class="page-link" [ngClass]="currentPage == 1? 'disable': ''" (click)="OnMealPage(currentPage-1)">salut</a>
       </li>
       <li  class="page-item" *ngFor = "let p of pages; let i = index" (click)="OnMealPage(i+1)">
         <a *ngIf="currentPage == i+1 || currentPage == i || currentPage == i - 1" [ngClass]="currentPage == i+1? 'active': ''" class="page-link">{{i+1}}</a>
       </li>
       <li class="page-item">
         <a class="page-link" [ngClass]="currentPage == pages.length? 'disable': ''"  (click)="OnMealPage(currentPage+1)"> >> </a>
       </li>
     </u>
    </nav>
  </div>
  </div>
  
  