.nav-header {
    background-color: white;
    border-bottom: 0.08em solid #C4C4C4;
    height: 100px;
    padding: 10px 0 10px 0;
    box-shadow: 0 2px 2px -2px gray;
}

.nav {
    width: 1000px;
    margin: auto;
}

div.small-logo{
margin: auto;
}
.logo-link {
    display: block;
    text-align: center;
    height: 0;
}
.logo-link img {
    vertical-align: middle;
}
.user-infos {
    padding-top: 40%;
    padding-right: 30px;
}


.right, .user-role {
    float: right;
}
.img-user {
    clip-path:ellipse(50% 50%);
}

.nav-left {
    background-color:#87AAB9;
    width: 100px;
    height: 744px;
    margin-top: -100px;
}

.order, .euro, .infos , .settings {
    height: 100px;
    width: 100px;
    display: flex;  
}

.order:hover, .euro:hover, .infos:hover , .settings:hover{
    background-color: #E9E581;
}
.icone, a {
    height: 50px;
    width: 50px;
    margin: auto;
}
.items {
padding-top: 170px;
}


/***********responsive***********/
@media screen and (max-width: 500px) {

    .img-user {
        height: 40px;
    }

    .small-logo {
        display: none;
    }
    .user-infos {
        padding-top: 0;
    }

    .nav-header {
        height: 60px;
    }
    .nav-left {
        width: 60px;
    }

    .order, .euro, .infos , .settings {
        height: 60px;
        width: 60px;
    }
    .icone, a {
        height: 30px;
        width: 30px;
    }

    
}
/********* end responsive ***********/































































































