.nav-header {
    background-color: white;
    border  : 0.08em solid #C4C4C4;
    box-shadow: 0 2px 2px -2px gray;
    border-radius: 1px;
    max-height: 100px;
}
.p-grid {
    margin: 0!important;
    padding: 0!important;
}
.p-col {
    padding: 0!important;
}

.content {
    margin: auto;
    background-color: #E5E5E5;
    padding: 0;
}
.p-button .p-button-icon-left{
    margin-right: 0!important;
}
.img-user {
    border-radius: 80px;
    border: 1px solid #E9E581;
}

.p-button.p-fileupload-choose {
    background-color: #DE1B1B!important;
}
.p-button-label {
    font-size: 10px!important;

}

.nav-left {
    background-color:#87AAB9;
    margin: 0;
    padding: 0;
}

.order:hover, .euro:hover, .infos:hover, .settings:hover{
    background-color: #E9E581;
}
.icone{
    height: 40px;
    margin: auto;
    width: 40px;
    vertical-align: middle;
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}
.order-link:active, .euro-link:active, .infos-link:active, .settings-link:active{
    background-color: #E9E581;
}
.order-link, .euro-link, .infos-link, .settings-link {
    text-align: center;
    margin-bottom: 0;
}

.titte-ct-empty {
    color: #DE1B1B;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.label-align {
    display: grid!important;
}
#shopping {
    width: 700px;
    height: 413px;
}
.title-card {
    font-size: 20px;
}
.p-col-1 {
    padding: 0;
    margin: 0;
}
.card-content {
    margin: auto;
}
.nav-content {
    height: 50px;
}

.card {
    margin: auto;

}
/***********jackpot***********/
.btn-order {
    text-transform: uppercase;
    background-color:#DE1B1B;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: none;
    width: 150px;
    text-decoration: none;
}
.btn-order:hover {
    background-color: #E9E581;
}
.ct-text {
    text-align: center;
    font-size: 18px;
}
.ct-sum{
    text-align: center; 
    color:#DE1B1B;
    font-size: 50px;
    font-weight: bold;
}
.ct-content {
    margin: auto;
}
.ct-background {
    background-color: #87AAB9;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    border: 1px solid #E9E581;

}
.ng-star-inserted {
    margin: auto;
}
/***********end jackpot***********/

/*********** user infos ***********/
.user-info {
    font-size: 14px!important;
    margin-top: 10px;
    margin-bottom: 10px;
}
.profile-img {
   text-align: center;
}
.user-infos-content {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}
.user-details {
    vertical-align: middle;
    margin-right:0!important;
    padding-right: 0!important;
}
.user-info-img{
    padding-right: 10px;
    vertical-align: middle;
}
.fa-envelope, .fa-calendar, .fa-map-marker, .fa-mobile {
    color:#87AAB9;
    vertical-align: middle;
    font-size: 30px;
}


/*********** end user infos ***********/

/*********** edit user infos form ***********/
.btn-edit-img {
    background-color: #DE1B1B!important;
    text-transform: uppercase!important;
    font-size: 12px!important;

}
.btn-edit {
    background-color: #DE1B1B;
    text-transform: uppercase;
    border: none;
    margin: auto;
    display: block;
}
.btn-edit:hover {
    background-color: #E9E581;
    border: none;
}
.user-infos-edit {
    background-color: white;
    border-radius: 5px;
    margin: auto;
}



/*********** end edit user infos form ***********/

/*********** orders ***********/
.table {
    border-radius: 5px;
}
/*********** end orders ***********/

/***********responsive***********/

@media screen and (min-width: 656px) and (max-width: 1024px) {
    .icone{
        width: 20px;
        height: 20px;
        
    }
    .user-details {
        padding-bottom:0!important;
        padding-top:0!important;
        padding-left:30px!important;
    }
    .user-infos-content {
        padding-bottom: 30!important;
        padding-top: 30!important;
    }
    .ct-background {
        width: 150px;
        height: 150px;
    }
    .ct-text {
        font-size: 12px;
    }
}
@media screen and (max-width: 540px) {

    .img-user {
        height: 40px;
    }
    .user-infos {
        font-size: 12px;
    }
    p.user-info{
        font-size: 10px;
    }
    .title-card {
        font-size: 14px;
        padding-top: 0;
    }
    .ct-sum{
        font-size:40px;
    }
    .ct-text{
        font-size: 10px;
    }
    .items {
        margin-top: 0px;
    }
    .user-infos-content {
        padding-bottom: 30!important;
        padding-top: 30!important;
    }
    .profile-img {
        width: 100%!important;
    }
    .user-details {
        width: 100%!important;
        padding-bottom: 0!important;
        padding-top: 0!important;
        padding-left: 30px!important;
    }
    .display-grid {
        display: grid;
    }
    br {
        display:none;
    }
    th, tr, td{
        font-size: 12px!important;
        text-align: center!important;
    }
    th{
        padding: 0!important;

    }
    .titte-ct-empty, .text {
        font-size: 14px;
    }
    .titte-ct-empty {
        margin-bottom: 0;
    }
    .text {
        margin-bottom: 35px;
    }
    img.icone{
        height: 25px;
        width: 25px;
        text-align: center;
        margin: auto;
    }
    .p-col{
        padding-right: 0!important;
        padding-left: 0!important;
    }
    .ct-background {
        width: 100px;
        height: 100px;
    }
}
/********* end responsive ***********/











