    <nav class="nav">
      <div class="nav-header">
            <div class="small-logo">
                <a class="logo-link" [routerLink]="[ '/home' ]"><img src="assets/logo.jpg" height="80px"></a> 
            </div>
            <div class="right">
                <img src="assets/user-account/user-profile.jpg" height="80px" class="img-user">    
            </div>
            <div class="user-role">
                <p class="user-infos">Nom <br>Role</p>
            </div>   
      </div>

      <div class="nav-left">
        <div class="items">
            <div class="order">
              <a><img class="icone" src="assets/user-account/icones/shopping-cart.png"></a>
            </div>  
            <div class="euro">
              <a><img class="icone" src="assets/user-account/icones/euro.png"></a>
            </div>
            <div class="infos">
              <a><img class="icone" src="assets/user-account/icones/info.png"></a>
            </div>
            <div class="settings">
              <a><img class="icone" src="assets/user-account/icones/settings.png">  </a>
            </div>
        </div>
      </div>
    </nav>


  <section id="shopping">
    
  </section>
  <section id="cagnotte">
    
  </section>
  <section id="empty_cagnotte">
    
  </section>
  <section id="user_infos">
    
  </section>
  <section id="settings">
    
  </section>






  















































    


