
<div class="p-d-flex">
   <!-- modal ----->
   <div class="modal p-mr-12">
      <!-- horizontal menu ----->
      <div class="nav-header p-mr-12">
            <div class="p-mr-4">
            </div>
            <div class="right p-mr-4">
                <img [src]="user.image64" height="80px" class="img-user">
                <div class="btn-edit-img" *ngIf="upload">
                  <p-fileUpload #fubauto  mode="basic" name="file" accept="image/*"
                 (onSelect)="handleFileSelect($event)" [auto]="true" chooseLabel="Editer"></p-fileUpload>
                 </div>
                 <div *ngIf="!upload">
                  <button
                  (click)="editUserImg()"
                  value="envoyer"></button>
                </div>
            </div>
            <div class="user-role p-mr-4">
                <p class="user-infos">{{user.name}} {{ user.firstname }}
                  <br/>
                  <span *ngIf="authenticationService.isAdmin()">
                   Admin
                  </span>
                  <span *ngIf="authenticationService.isUser()">
                   User
                  </span>
              </p>
            </div>
      </div>
       <!-- end horizontal menu ----->
      <div class='p-grid'>
        <div class="p-col-1">
        </div>
        <div class="p-col-11 title">
          <h1 class="title-card" *ngIf="orders">Mes commandes</h1>
          <h1 class="title-card" *ngIf="parameters">Paramètres</h1>
          <h1 class="title-card" *ngIf="infos">Mes informations</h1>
          <h1 class="title-card" *ngIf="wallet"> Ma cagnotte</h1>
        </div>
      </div>
       <!---- vertical menu --->
      <div class="p-grid nav-content">
        <div class="p-col-1 nav-left">
          <div class="items">
              <div class="order">
                <p (click)="userAccountNavigate('orders')" class="order-link">
                  <img class="icone" src="assets/user-account/icones/shopping-cart.png">
                </p>
              </div>
              <div class="euro">
                <p (click)="userAccountNavigate('wallet')" class="euro-link">
                  <img class="icone" src="assets/user-account/icones/euro.png">
                </p>
              </div>
              <div class="infos">
                <p (click)="userAccountNavigate('infos')" class="infos-link">
                  <img class="icone" src="assets/user-account/icones/info.png">
                </p>
              </div>
              <div class="settings">
                <p (click)="userAccountNavigate('parameters')" class="settings-link">
                  <img class="icone" src="assets/user-account/icones/settings.png">
                </p>
              </div>
          </div>
        </div>
      </div>
      <!---- end vertical menu --->
      <!---- card --->

        <div class="p-grid card" *ngIf="wallet">
          <div class="p-col-1">
          </div>
          <div class="p-col-2">
          </div>
              <div *ngIf="user.wallet == 0">
                <p-card [style]="{'background-color':'#F6F6F6'}">
                  <ng-template pTemplate="header">
                      <img alt="empty-ct" src="assets/user-account/cat.png" [style]="{'width': '50%','display':'block','margin':'auto'}">
                  </ng-template>
                  <h1 class="titte-ct-empty">Votre Cagnotte est vide </h1>
                  <p class="text">Si vous souhaitez passer des commandes <br/>vous devez recharger votre cagnotte <br/>auprès de la cantinière</p>
                  </p-card>
              </div>
              <div class="card-content p-col-7" *ngIf="user.wallet > 0 && user">
              <p-card [style]="{'background-color':'#F6F6F6'}">
              <ng-template pTemplate="header">
              </ng-template>
              <div class="ct-background">
                <div class="ct-content">
                  <p class="ct-text">Vous avez</p>
                  <p class="ct-sum">{{ user.wallet }} € </p>
                  <p class="ct-text">Dans votre cagnotte</p>
                </div>
              </div>
              </p-card>
              <button pButton type="button" label="commander" class="btn-order p-button-rounded"></button>
          </div>
          <div class="p-col-2 left"></div>
        </div>
          <!---- end card --->
        <!---- user infos --->

        <div class="p-grid" *ngIf="infos">
          <div class="p-col-1"></div>
          <div class="user-infos-content p-col-9 p-d-flex">
            <div class="p-col-4 profile-img">
            <img [src]="user.image64" class="img-user" height="150px">
            <p><b>{{ user.name }}<br> {{ user.firstname }}</b></p>
            </div>
            <div class="p-col-4 user-details">
              <p class="user-info"><i class="fa fa-envelope" aria-hidden="true"></i>{{ user.email }}</p>
              <p class="user-info"><i class="fa fa-map-marker" aria-hidden="true"></i>{{user.address | titlecase}} {{ user.postalCode }} {{ user.town | titlecase }}</p>
            </div>
            <div class="p-col-4 user-details">
            <p class="user-info"><i class="fa fa-mobile"></i>{{ user.phone}}</p>
            <p class="user-info"><i class="fa fa-calendar" aria-hidden="true"></i>{{ user.registrationDate}}</p>
            </div>
          </div>
        </div>
        <!---- end user infos --->
        <!---- parameters --->
          <div class="p-grid" *ngIf="parameters">
            <div class="user-infos-edit">
              <form [formGroup]="userForm" (ngSubmit)="updateUser()">
                <div class="phone p-d-flex p-flex-column p-flex-md-row p-mt-4 p-mb-4 p-pl-3">
                  <div class="p-col-12 p-md-6 p-lg-4 display-grid">
                    <label>Nom</label>
                    <input class="p-mt-2" type="text"  formControlName="name" pInputText [(ngModel)]="user.name">
                  </div>
                  <div class="p-col-12 p-md-6 p-lg-4 display-grid">
                    <label>Prénom</label>
                    <input class="p-mt-2" type="text" formControlName="firstname" pInputText [(ngModel)]="user.firstname">
                  </div>
                  <div class="p-col-12 p-md-6 p-lg-4 display-grid">
                    <label>Email</label>
                    <input class="p-mt-2" type="text" formControlName="email" pInputText [(ngModel)]="user.email">
                  </div>
                </div>
                <div class="p-d-flex p-flex-column p-flex-md-row p-mt-4 p-mb-4 p-pl-3">
                  <div class="p-col-12 p-md-6 p-lg-4 display-grid">
                    <label>Télephone</label>
                    <input class="p-mt-2" type="text" formControlName="phone" pInputText [(ngModel)]="user.phone">
                  </div>
                  <div class="p-col-12 p-md-6 p-lg-4 display-grid">
                    <label>Adresse</label>
                    <input class="p-mt-2"  type="text" formControlName="address" pInputText [(ngModel)]="user.address">
                  </div>
                  <div class="p-col-12 p-md-6 p-lg-4 display-grid">
                    <label>Code postale</label>
                    <input class="p-mt-2" type="number" formControlName="postalCode" pInputText [(ngModel)]="user.postalCode">
                  </div>
                </div>
                <div class="mdp p-d-flex p-flex-column p-flex-md-row p-mt-4 p-mb-4 p-pl-3">
                  <div class="p-col-12 p-md-6 p-lg-6 display-grid">
                    <label>Ville</label>
                    <input class="p-mt-2" type="text" formControlName="town" pInputText [(ngModel)]="user.town">
                  </div>
                  <div class="p-col-12 p-md-6 p-lg-6 display-grid">
                    <label>Mot de passe</label>
                    <input class="p-mt-2" formControlName="password" pInputText [(ngModel)]="user.password">
                  </div>
                  <div class="p-col-12">
                    <button pButton pRipple type="submit" label="Editer" class="p-button-rounded btn-edit p-mt-4"></button>
                  </div>
                </div>
            </form>
            </div>
          </div>
        <!---- end parameters --->
        <!---- my orders --->
         <div class="p-grid" *ngIf="userOrders && orders">
          <div class="p-col-1"></div>
          <div class="table">
            <p-table class="p-col-11" [value] = "userOrders">
              <ng-template pTemplate="header">
                  <tr>
                      <th>Date</th>
                      <th>Heure</th>
                      <th>Commande</th>
                      <th>Prix</th>
                      <th>Statut</th>
                  </tr>
              </ng-template>
              <ng-template pTemplate="body" let-userOrder let-i="rowIndex">
                  <tr>
                      <td>{{ userOrder.creationDate }}</td>
                      <td>{{ userOrder.creationTime }}</td>
                      <td>commande</td>
                      <td>5</td>
                      <td>{{ userOrder.status == 0 ? 'crée': userOrder.status == 1 ? 'prête': 'annulée'}}</td>
                  </tr>
              </ng-template>
            </p-table>
          </div>
         </div>
        <!---- end my orders --->
      </div> 
    
</div>















































