.nav-header {
    background-color: white;
    border-bottom: 0.08em solid #C4C4C4;
    height: 100px;
    padding: 10px 0 10px 0;
    box-shadow: 0 2px 2px -2px gray;
}

.modal {
    width: 1000px;
    height: 650px;
    margin: auto;
    background-color: #E5E5E5;
}
.user-infos {
    padding-top: 20%;
    padding-right: 30px;
}

.p-button .p-button-icon-left{
    margin-right: 0!important;
}


.right, .user-role {
    float: right;
}
.img-user {
    border-radius: 80px;
border: 1px solid #E9E581;
}
.btn-edit-img {
    margin-top: -15px!important;
}
.p-button.p-fileupload-choose {
    background-color: #DE1B1B!important;
}
.p-button-label {
    font-size: 10px!important;
}

.nav-left {
    background-color:#87AAB9;
}

.order, .euro, .infos , .settings {
    height: 100px;
    display: flex;  
}

.order:hover, .euro:hover, .infos:hover, .settings:hover{
    background-color: #E9E581;
}
.icone, p {
    height: 50px;
    margin: auto;
}
.order-link:active, .euro-link:active, .infos-link:active, .settings-link:active{
    background-color: #E9E581;
}
.items {
    padding-top: 170px;
}
.titte-ct-empty {
    color: #DE1B1B;
    text-align: center;
}

.text {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}
.label-align {
    display: grid!important;
}
#shopping {
    width: 700px;
    height: 413px;
}

.content {
    float: right;
}

.title-card {
    padding-top: 30px;
    margin: 0;
    font-size: 20px;
}
.p-col-1 {
    padding: 0;
    margin: 0;
}
.card-content {
    margin: auto;
}
.nav-content {
    height: 50px;
}

.card {
    margin: auto;
    width: 80%;
}


/***********jackpot***********/
.btn-order {
    text-transform: uppercase;
    background-color:#DE1B1B;
    display: block;
    margin: auto;
    margin-top: 50px;
    border: none;
    width: 150px;
    text-decoration: none;
}
.btn-order:hover {
    background-color: #E9E581;
}
.ct-text {
    text-align: center;
    font-size: 18px;
}
.ct-sum{
    text-align: center; 
    color:#DE1B1B;
    font-size: 50px;
    font-weight: bold;
}
.ct-content {
    margin: auto;
}
.ct-background {
    background-color: #87AAB9;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    margin: auto;
    display: flex;
    border: 1px solid #E9E581;

}
/***********end jackpot***********/

/*********** user infos ***********/
.profile-img {
   text-align: center;
}
.user-infos-content {
    background-color: white;
    border-radius: 5px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
.user-details {
    vertical-align: middle;
    margin: auto;
}
.user-info-img{
    padding-right: 10px;
    vertical-align: middle;
}
.fa-envelope, .fa-calendar, .fa-map-marker, .fa-mobile {
    padding-right: 10px;
    color:#87AAB9;
    vertical-align: middle;
    font-size: 30px;
}
.fa-map-marker, .fa-mobile {
    font-size: 38px;
}
/*********** end user infos ***********/

/*********** edit user infos form ***********/
.btn-edit {
    background-color: #DE1B1B;
    text-transform: uppercase;
    border: none;
    margin: auto;
    display: block;
}
.btn-edit:hover {
    background-color: #E9E581;
    border: none;
}
.user-infos-edit {
    background-color: white;
    border-radius: 5px;
    width: 85%;
    margin: auto;
}

/*********** end edit user infos form ***********/

/*********** orders ***********/
.table {
    width: 80%;
    margin: auto;
}
/*********** end orders ***********/

/***********responsive***********/
@media screen and (max-width: 540px) {

    .img-user {
        height: 40px;
    }
    .user-infos {
        font-size: 12px;
        padding-right: 0;
    }

    .nav-header {
        height: 60px;
    }

    .order, .euro, .infos , .settings {
        height: 60px;
        width: 60px;
    }
    .icone, p {
        height: 30px;
    }
    .title-card {
        padding-left: 15%;
        font-size: 14px;
        padding-top: 0;
    }
    .ct-background {
        width: 120px;
        height: 120px;
    }
    .ct-sum{
        font-size:40px;
    }
    .ct-text{
        font-size: 12px;
    }
    .items {
        margin-top: 0px;
    }
    .user-infos-content {
        display: block!important;
        padding-bottom: 0;
        padding-top: 0;
        padding-left: 20px;
    }
    .profile-img {
        width: 100%!important;
    }
    .user-details {

        width: 100%!important;
    }
    .display-grid {
        display: grid;
    }
    br {
        display:none;
    }
    
    
}
/********* end responsive ***********/































































































