/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');
* {
  font-family: 'Cormorant Garamond', serif;

}
html, body { height: 100%; }
body { margin: 0;  }

.container {
  
}
.p-menuitem-text {
  font-size: 120% !important;
  color: white !important;
  font-weight: 600 !important;
}
p, h1, h2, h3, h4, h5, h6, span, button, label {
  font-size: 120%;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
  background: #204a5d !important;
  border: none !important;
}
 .p-menuitem-link.p-ripple {
}
.p-submenu-list .p-menuitem-text{
  color: #2d2d2d !important;
}

ul.p-menubar-root-list {
  background: #87aab9 !important;
}

.clickable {
    cursor: pointer;
}

.container {
   margin: 0px 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #87AAB9;
    color: white;
    text-align: center;
  }

  .p-menubar {
    background: #87AAB9;
    border-radius: 0;
}

.p-dialog .p-dialog-header-icon, .p-dialog .p-dialog-header-icons {
}
.p-dialog  {

}

 .p-dialog .p-dialog-header{
    height: 0px !important;
    width: 0px !important;
    display: none;
}

.p-dialog .p-dialog-content {
    margin: 0;
    padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.p-card-shadow.p-card.p-component {
  display: flex !important;
  flex-wrap: wrap;
  width: 180px !important;
}

.p-card .p-card-body {
  padding: 0.1rem;
  padding-top: .2rem;
  margin-left: 15px;
}

.p-card .p-card-content {
  padding: .5rem 0;
}

.p-card .p-card-footer {
  padding: .5rem 1rem;
}
