/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
  font-family: 'Cormorant Garamond', serif;

}
html, body { height: 100%; }
body { margin: 0;  }

/*.container {

}*/
.p-menuitem-text {
  font-size: 120% !important;
  color: white !important;
  font-weight: 600 !important;
}
p, h1, h2, h3, h4, h5, h6, span, button, label {
  font-size: 120%;
}
.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
  background: #204a5d !important;
  border: none !important;
}
/* .p-menuitem-link.p-ripple {
}*/
.p-submenu-list .p-menuitem-text{
  color: #2d2d2d !important;
}

ul.p-menubar-root-list {
  background: #2d2d2d !important;
}

.clickable {
    cursor: pointer;
}

.container {
   margin: 0px 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2d2d2d;
    color: white;
    text-align: center;
  }

  .p-menubar {
    background: #2d2d2d;
    border-radius: 0;
}

/*.p-dialog .p-dialog-header-icon, .p-dialog .p-dialog-header-icons {
}
.p-dialog  {

}

 .p-dialog .p-dialog-header{

}

.p-dialog .p-dialog-content {

}*/

html, body { height: 100%; }
body { margin: 0; font-family: Poiret One, "Helvetica Neue", sans-serif; }

.meals .p-card-shadow.p-card.p-component {
  display: flex !important;
  flex-wrap: wrap;
  width: 180px !important;
}

.p-card .p-card-body {
  padding: 0.1rem;
  padding-top: .2rem;
  margin-left: 15px;
  margin-right: 15px;
}

.p-card .p-card-content {
  padding: .5rem 0;
}

.p-card .p-card-footer {
  padding: .5rem 1rem;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:hover {
  background: #696868 !important;
}
/*
login com
*/
/*ng-trigger ng-trigger-animation ng-tns-c87-0 p-dialog p-dynamic-dialog p-component ng-star-inserted {

}*/
/* , ng-tns-c96-2 ng-star-inserted */

.p-dialog .ingredient-image {
  width: 150px;
  margin: 0 auto 2rem auto;
  display: block;
}

.ng-tns-c93-0.p-dialog-content {
  background: none !important;
  color: #212529;
  padding: 0 !important;
  height: 100%;
}

.digitalClock {
  margin: 10px auto;
  background-color: white !important;
  border: none !important;
  border-radius: 0;
  box-shadow: inset 0 0 20px rgba(239,68,48,.4), 0 10px 10px rgba(239,68,48,.6)!important;
  font-size: 20px;
  color: black !important;
  text-transform: uppercase;
  font-weight: bold;
}
.login-form .p-inputtext {
  background: none;
  color: white;
  border: 1px solid #ef4430;
}
.login-form .p-inputtext:focus, input:focus{
  outline-color: #ef4430 !important;
}
.myclass {
  margin-bottom: 30px;
}

.myclass .p-card .p-card-title {
  font-size: 1.4rem !important;
  font-weight: bold !important;
  margin-bottom: 0.5rem;
}

.myclass .p-card-title.ng-star-inserted {
  max-height: 20px !important;
  margin-bottom: 25px !important;
}

.myclass .p-card:hover {
  color: #2d3f47;
  box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.4), 0 2px 2px 0 rgba(0, 0, 0, 0.18), 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}
.p-datatable .p-datatable-tbody > tr > td {
  padding: .4rem .5rem;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #87AAB9;
  border-color: #87AAB9;
  color: #ffffff;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #87AAB9;
  border-color: #87AAB9;
  color: #ffffff;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: #322b2b;
}

.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  color: #87aab9;

}

.p-paginator .p-paginator-pages .p-paginator-page:hover {
  background-color: #ffffff;
  border: 1px solid #87aab9;
  color: #494444 !important;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #ffffff;
  background: #87aab9;
}
span.fa.fa-pencil-square-o.p-button-icon.ng-star-inserted, span.pi.pi-euro.p-button-icon.ng-star-inserted {
  margin-left: 10px !important;
}
.p-field > label {
  margin-bottom: -0.9rem;
  font-weight: bold;
}
.mr-top {
  margin-top: 40px !important;
}

.credit-form form button.p-button{

}


ul.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}
nav {
  height:80px !important;
}

.page-link {
  position: relative;
  padding: .75rem 1rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}
.page-link a{
  font-weight: 600;
}
 li
{
  display: inline-block;
  text-align: -webkit-match-parent;

}
.disable {
  outline: 0;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.active, a:active {
  background-color: #87aab9 !important;
}
.meal-ingredients .p-checkbox.p-component {
  display: none !important;
}
.p-button.p-button-danger .btn[_ngcontent-jhl-c54] {
  max-height: 42px !important;
}

.mat-h4, .mat-subheading-1, .mat-typography h4 {
  font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  margin: 0 0 10px;
  font-size: 1.4rem !important;
}
